poetry.db
poetry.db-journal
poetry_dump.sql
poetry_dump.sq
venv/
__pycache__/
*.pyc
.pytest_cache/
.aidex/
.vscode/
.DS_Store
*.zip
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
